{% extends "base.html" %}
{% block content %}
	<h2>Acerca de la Psic&oacute;loga</h2>
	<div class="media">
	  <div class="media-body">
	    <h5 class="mt-0 mb-1">Raquel Mauricio Garc&iacute;a</h5>
	    <p>Licenciada en Psicolog&iacute;a, ha realizado estudios de Posgrado: Maestr&iacute;a en Gerencia Empresarial y Maestr&iacute;a Integral en Terapia Familiar.</p>
		<p>Ha trabajado en Instituciones Educativas de Nivel Profesional y Posgrado, m&aacute;s de veinte años, impartiendo catedra y realizando funciones administrativas, que van de ser Jefa de Oficina, de Departamento y Asesor&iacute;a Psicopedag&oacute;gica.</p>
		<p>Tambi&eacute;n estuvo realizando funciones de Asesor&iacute;a Psicol&oacute;gica en el Instituto Poblano de la Mujer durante un año.
		Actualmente se dedica a la pr&aacute;ctica cl&iacute;nica en su consultorio particular, atendiendo a Familias, Parejas y adolescentes; as&iacute; como Intervenci&oacute;n en Grupos de Trabajo.</p>
		<p>Trabaja con las diferentes teor&iacute;as psicol&oacute;gicas: Modelo Estructural, Terapia Breve Centrada en Problemas, Terapia Narrativa, Terapia Breve Centrada en Soluciones, Hipnosis Terap&eacute;utica, Control de las Emociones.</p>
		<p>Con su experiencia y trayectoria profesional ofrece un servicio de calidad, honestidad y resultados.</p>
	  </div>
	<img src="{{ url_for('static', filename = 'portrait.jpg') }}" class="ml-4" alt="...">
	</div>
{% endblock %}